<h2 id="title">Welcome to Ember</h2>

<div>
  <button {{action (action "changeFoo" true) on="click"}}>foo = true</button>
  <button {{action (action "changeFoo" false) on="click"}}>foo = false</button>
</div>

<div>
  <button {{action (action "changeBar" "neato") on="click"}}>bar = "neato"</button>
  <button {{action (action "changeBar" undefined) on="click"}}>bar = undefined</button>
</div>

<div>
  <button {{action (action "changeQuux" (array 1 2 3)) on="click"}}>quux = [1, 2, 3]</button>
  <button {{action (action "changeQuux" (array)) on="click"}}>quux = []</button>
</div>

<div>
  <button {{action "goEmpty" on="click"}}>empty</button>
</div>